{

"currentDateTime":"$current.dateTime.nolabel('%Y-%M-%dT%H:%M:%S')"

"current":{
	"outsideTemperature":"$current.outTemp",
	"windSpeed":"$current.windSpeed",
	"windDirection":"$current.windDir",
	"windDirectionOrdinal":"$current.windDir.ordinal_compass",
	"windGust":"$current.windGust"
}
}
